.calendar-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
  background: #ffffff;
  border-radius: 12px;
  position: relative;

  .header {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;

    .button-wrapper {
      position: relative;
      vertical-align: top;

      .dropdown {
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        z-index: 1000;
        border-radius: 6px;
        width: 100%;
        transform-origin: top;
        overflow: hidden;
      }
    }
  }
}

// to display date range data table
.datesSelected {
  max-height: 70vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6%;

  .footfall-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  thead {
    th {
      position: sticky;
      top: 0;
      background-color: #f2f2f2;
      font-weight: bold;
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: center;
      font-size: 16px;
    }
  }
  tbody {
    td {
      padding: 8px;
      border-bottom: 1px solid #eee;
      font-size: 14px;
      color: #333;
    }
  }
}
