<!-- Navigation of Months -->
<div class="main-container" [ngClass]="scale">
  <div class="calendar-nav">
    <button class="common-button" (click)="navigateMonth(-1)">‹ Prev</button>
    <button
      (click)="emitFootfallList()"
      class="common-button"
      [disabled]="!startDate || !endDate"
    >
      Confirm Date Range
    </button>
    <button class="common-button" (click)="navigateMonth(1)">Next ›</button>
  </div>

  <div class="calendar-months-container">
    <div *ngFor="let month of renderedMonths; let i = index" class="month">
      <div class="month-header">{{ month | date: 'MMMM yyyy' }}</div>

      <mwl-calendar-month-view
        [viewDate]="month"
        [events]="[]"
        [activeDayIsOpen]="false"
        (dayClicked)="onDayClick($event.day.date)"
        [cellTemplate]="customCell"
      >
      </mwl-calendar-month-view>
    </div>
  </div>
</div>

<!-- Cell template -->
<ng-template #customCell let-day="day" let-viewDate="viewDate">
  <div
    class="custom-day"
    [ngClass]="{
      'in-range': isInRange(day.date),
      'start-date': isStart(day.date),
      'end-date': isEnd(day.date)
    }"
  >
    <div class="day-number">{{ day.date.getDate() }}</div>
    <div class="day-price">
      <img class="footfallicon" src="assets/images/person.svg" />
      {{ getDayFootfall(day.date) }}
    </div>
  </div>
</ng-template>
